<mat-card align="center">
  <div>
    <mat-card-title class="my-primary-text">
      <div>
        <img src="assets/images/uriko.png" style="height: 25vh; width: 25vh" />
      </div>
      <div style="font-size: large; padding-bottom: 5vh; color: black">
        Welcome to Uriko Inc. <br />
        Japanese Items Reseller
      </div>
      <div style="font-size: x-small; padding-bottom: 5vh">v1.0</div>
    </mat-card-title>
  </div>
  <mat-card-footer align="end" class="my-secondary-text margin-right-2">
    &copy;Info5059 - 2023
  </mat-card-footer>
</mat-card>
